# ----------------------
# Django
# ----------------------
Django==1.3

# ----------------------
# Database
# ----------------------
pymongo==2.0.1


# ----------------------
# Testing
# ----------------------
mock
coverage
django-test-coverage
