/* Use some of Bootstrap's mixins... */

@import "bootstrap/lib/mixins.less";


/* And styles for Open 311 Dashboard below... */

body{
  overflow:hidden;
}

.topbar{
  background-color:black;
  #gradient > .vertical(#222, #333);
  border-bottom: 1px solid #111;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  .border-radius(4px);
}

.show-grid {
    margin-top: 40px;
    margin-bottom: 20px;
    .column, .columns{
      text-align: center;
      .border-radius(3px);
    }
}

.search-select {
  color: #E6E6E6;
  background-color: darkGray;
}

#map{
  background-color: #DCEAF4;
  border: 1px solid #ccc;
  height: 350px;
  margin-top: 40px;
  .border-radius(5px);
}

.ui-autocomplete, .ui-corner-all{
  list-style-type: none;
  width: 250px;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color:white;
}

.span6.column{
    margin-top: 0;
}

#streets path:hover, #sidewalk_cleaning path:hover, #graffiti path:hover {
  stroke-width:5px;
}

footer{
    border-top: 1px solid #111;
    #gradient > .vertical(#222, #333);
    color: #fff;
    margin-top: 100px;
    min-height: 200px;
    .box-shadow(inset 0 0 5px black);
}

.detail-page {
  #map {
    margin-top:10px;
    margin-bottom:10px;
  }

  g.ticks line {
    stroke:#ccc;
    stroke-width:.5px;
  }

  g.ticks text {
    font-size:10px;
  }

  .graph-label {
    font-size:10px;
  }

  .axis {
    stroke:#333;
    stroke-width:.5px;
  }

  #status-pie {
    margin-right:10px;
  }

  #spark-line path {
      stroke: steelblue;
      stroke-width: 2;
      fill: none;
      }

  #spark-line .line, circle.area {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  #spark-line circle.area {
    fill: #fff;
  }

  #spark-line .point {
      fill: #C80000;
      stroke: #FFFFFF;
      stroke-width: 0px;
  }
  .request-point {
    fill: green;
  }

  .main {
    margin-top:30px;
  }

  #geometry {
    fill: rgba(256,256,256, .5);
    stroke: rgba(100, 100, 100, .8);
    stroke-width:3px;
    stroke-linecap: round;
  }

  .sidebar h1 {
    text-align:center;
  }

  .sidebar .box {
    text-align:center;
    border-top:1px solid #ccc;
    padding-top:10px;
  }

  .sidebar .label {
    font-size:14pt;
    font-weight:normal;
    font-style:italic;
  }

  #avg-response, #open-requests {
    font-size:32pt;
    line-height:1;
    font-weight:bold;
  }

  #top-requests-info {
    display:none;
    padding:3px;
    background:#fff;
    border:1px solid #ccc;
  }
}
