div.topbar-wrapper {
  position: relative;
  height: 40px;
  margin: 5px 0 15px;
}
div .topbar {
  background-color:black;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


body{
  overflow:hidden;
}
.show-grid {
  margin-top: 20px;
  margin-bottom: 20px;
}
.show-grid .column, .show-grid .columns {
  text-align: center;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.search-select {
  color: #E6E6E6;
  background-color: darkGray;
}

#map{
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 83%;
  background-color: #DCEAF4;
}
