/* Use some of Bootstrap's mixins... */

@import "bootstrap/lib/mixins.less";


/* And styles for Open 311 Dashboard below... */

body{
  overflow:hidden;
}

.topbar{
  background-color:black;
  #gradient > .vertical(#222, #333);
  border-bottom: 1px solid #111;
  margin: 0 -20px;
  padding-left: 20px;
  padding-right: 20px;
  .border-radius(4px);
}

.show-grid {
    margin-top: 40px;
    margin-bottom: 20px;
    .column, .columns{
      text-align: center;
      .border-radius(3px);
    }
}

.search-select {
  color: #E6E6E6;
  background-color: darkGray;
}

#map{
  background-color: #DCEAF4;
  border: 1px solid #ccc;
  height: 350px;
  margin-top: 40px;
  .border-radius(5px);
}

.ui-autocomplete, .ui-corner-all{
  list-style-type: none;
  width: 250px;
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color:white;
}

.span6.column{
    margin-top: 0;
}

#streets path:hover, #sidewalk_cleaning path:hover, #graffiti path:hover {
  stroke-width:5px;
}

footer{
    border-bottom: 1px solid #111;
    #gradient > .vertical(#222, #333);
    color: #fff;
    margin-top: 100px;
    min-height: 200px;
}
