/*CONTAINERS*/ 

#nav {
	width: 990px;
	text-align: right;
	margin: 10px;
}

#map, #street-stats, #open-requests, #nearby {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-khtml-border-radius: 5px;
	margin: 10px 0;
	width: 100%;
	float: left;
	background-color: white;	
    padding-bottom:10px;
}

#map {
    height: 380px;
    padding-bottom:0px;
}

/*MAP*/
#geometry path {
  stroke:#000;
  stroke-width:5px;
  stroke-linecap:round;
  fill:none;
}

/*STREET STATS*/

#spark-line {
	width: 220px;
	height: 60px;
	background-color: white;
	margin: 10px auto;	
	}
	
#response-time {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	padding: 15px 0 0;
	text-align: center;
}

#top-requests .service-name {
  width:75%;
}

/*OPEN REQUESTS*/
#open-requests p {
	text-align: right;
}

#open-requests table .service-name {
  width:75%;
}


/*NEARBY*/

#nearby table td {
	background-color: white;
	padding: 8px 0;
}





