/* [BEGIN] Eric Meyer Reset
/*GENERAL STYLES*/
body {
	font-family: helvetica;	
	background-color: #EDEDED;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	padding: 20px 10px;
}

h2 {
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

p {
	font-size: 12px;
	padding: 5px;
}

.caption {
	text-align: center;
	font-style: italic;
	font-size: 14px;
	margin: 0 15px;
	display: block;
	border-bottom: 1px solid #EDEDED;
	
}

/*TABLES*/ 

table {
	width: 90%;
	margin: 0 auto;	
	font-size: 14px;
}

th {
	text-align: left;
	font-weight: bold;
}

td {
	padding: 5px 0;
}

tr {
    background-color: #fff;
}

tr:nth-child(2n) {
	background-color: #EDEDED;
}

#street-stats td:nth-child(2), #nearby td:nth-child(2) {
	text-align: right;
}

/*CONTAINERS*/ 

#nav {
	width: 990px;
	text-align: right;
	margin: 10px;
}

#map, #street-stats, #open-requests, #nearby {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-khtml-border-radius: 5px;
	margin: 10px 0;
	width: 100%;
	float: left;
	background-color: white;	
}

#map, #open-requests {
    height: 380px;
}

/*MAP*/
#geometry path {
  stroke:#000;
  stroke-width:5px;
  stroke-linecap:round;
  fill:none;
}

/*STREET STATS*/

#spark-line {
	width: 220px;
	height: 60px;
	background-color: white;
	margin: 10px auto;	
	}
	
#response-time {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	padding: 15px 0 0;
	text-align: center;
}

#top-requests .service-name {
  width:75%;
}

/*OPEN REQUESTS*/
#open-requests p {
	text-align: right;
}

#open-requests table .service-name {
  width:75%;
}


/*NEARBY*/

#nearby table td {
	background-color: white;
	padding: 8px 0;
}





