/* [BEGIN] Eric Meyer Reset
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* [END] Eric Meyer Reset */

/*GENERAL STYLES*/
body {
	font-family: helvetica;	
	background-color: #EDEDED;
}

h1 {
	font-size: 18px;
	font-weight: bold;
	padding: 20px 10px;
}

h2 {
	font-size: 14px;
	text-align: center;
	padding: 5px;
}

p {
	font-size: 12px;
	padding: 5px;
}

.caption {
	text-align: center;
	font-style: italic;
	font-size: 14px;
	margin: 0 15px;
	display: block;
	border-bottom: 1px solid #EDEDED;
	
}

/*TABLES*/ 

table {
	width: 90%;
	margin: 0 auto;	
	font-size: 14px;
}

th {
	text-align: left;
	font-weight: bold;
}

td {
	padding: 5px 0;
}

tr:nth-child(2n) {
	background-color: #EDEDED;
}

#street-stats td:nth-child(2), #nearby td:nth-child(2) {
	text-align: right;
}

/*CONTAINERS*/ 

#nav {
	width: 990px;
	text-align: right;
	margin: 10px;
}

#map, #street-stats, #open-requests, #nearby {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; 
	-khtml-border-radius: 5px;
	margin: 10px 0;
	height: 380px;
	width: 100%;
	float: left;
	background-color: white;	
}

#street-stats {
	height: 480px;
}

#nearby {
	height: 280px;
}

/*MAP*/
#geometry path {
  stroke:#000;
  stroke-width:5px;
  stroke-linecap:round;
}

/*STREET STATS*/

#spark-line {
	width: 220px;
	height: 60px;
	background-color: white;
	margin: 10px auto;	
	}
	
#response-time {
	font-size: 32px;
	font-weight: bold;
	margin: 0;
	padding: 15px 0 0;
	text-align: center;
}

#top-requests .service-name {
  width:75%;
}

/*OPEN REQUESTS*/
#open-requests p {
	text-align: right;
}

#open-requests table .service-name {
  width:75%;
}


/*NEARBY*/

#nearby table td {
	background-color: white;
	padding: 8px 0;
}

#nearby table td:nth-child(1){
	font-size: 18px;
}

#nearby table td:nth-child(2){
	font-size: 14px;
}




