/**
 * Some simple CSS for test pages.
 */
#dashboard {
  padding: 0px;
}
.widget-container{
  padding: 10px;

}

.ui-widget {
  width: 310px;
  height: 240px;
  border: 1px solid #EEE;
  padding: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 4px #000;
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  background: #FDFDFD;
   
}

.ui-widget-content {
  /*  background: url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top #EEEEEE;*/
    border: 1px solid #DDDDDD;
    color: #444;
    background: #fff;
    
}
.choropleth-example {
 width: 800px;
 height: 800px;
 
}

.sparkline {
	width: 410px;
	height: 100px;
}

.open-vs-closed-bar {
	width: 700px;
	height: 240px;
}

.ui-widget-header {
   /* background: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png") repeat-x scroll 50% 50% #F6A828;
   */ 
   background: #FEFEFE;
   border: 1px solid #FFF; /*E78F08*/
    color: #444;
    font-weight: bold;
}

.column-1{ /*, .column-2 */
  width: 830px; /*530*/
  float: left;
  clear: none;
}
.column-2 {
 width: 300px;
 float: left;
 margin: 0px 20px 10px 10px;
 clear: none;
}
.column-3 {
 width: 300px;
 float: left;
 margin: 0px 20px 10px 10px;
 clear: none;
}


h1 {
  font-size: 42px;
  text-align: left;
  padding: 10px 20px;
  color: #666;
  text-shadow: 0px 1px 2px #fefefe;
  font-family:Trebuchet;
  font-variant:small-caps;
}

h2 {
  margin: 0 0 5px 0;
  padding: 0;
  color: #555;
}

ui.loading {
  border: 3px solid #222222;
}

/*.input-widgets {
  border-bottom: 3px solid #BBBBBB;
  margin-bottom: 10px;
}*/
.input-widgets{
  width: 100%;
  background: #ddd;
   /*margin-right: 10px;*/
  margin-bottom: 10px;
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    text-shadow:
    font-size: 1.1em;
    color: #333;
    padding: 10px;
   
}
.open311-global-input{
/*  height: 100px; */
  padding: 4px;
  margin-right: 14px;
/*background: url("images/ui-bg_highlight-soft_100_eeeeee_1x100.png") repeat-x scroll 50% top #EEEEEE;*/
}

