body { height:100%; overflow:hidden; margin:0; padding:0; background:#fff;}
  #container header { height:50px; width:100%; }
  #container footer { height:50px; width:100%; position:absolute; bottom:0; }
  
    #main { position:absolute; top:50px; bottom:50px; left:0; right:0; }
      #aside { position:absolute; top:0; bottom:0; width:300px; overflow-y:auto;}
      #map { position:absolute; top:0; bottom:0; left:300px; right:0; }
      
  .compass .back {
    fill: #fff;
  }

  .compass .fore, .compass .chevron {
    stroke: #ccc;
  }

  #streets {
      fill: rgba(255,255,255,0)
  }

  #streets path {
    fill: #fff
    stroke-width: 1.5px;
  }

  /*
  #streets path {
    stroke: #f00;
    fill: #fff
    stroke-width: 1.5px;
    stroke-linecap: round;
  }
  */
  #streets path:hover {
      stroke-width: 2px;
      stroke: #fff
  }

  #neighborhoods {
      fill: rgba(255,255,255,0)
  }
  /*
  #neighborhoods path{
    stroke: rgba(0,0,0,.75);
    stroke-width: 2px;
    stroke-linecap: round;
  }
  */
  /*
  #neighborhoods path:hover {
      stroke: rgba(255,255,255,.75);
      stroke-width: 2px;
  }
  */
  #copy, #copy a {
    color: #1AA398;
  }

  #tooltip {
      -moz-box-shadow: 10px 10px 5px #888;
      -webkit-box-shadow: 10px 10px 5px #888;
      box-shadow: 10px 10px 5px #888;

      -moz-border-radius: 2px;
      border-radius: 2px;
      background: rgba(255,255,255,.9);
      padding: 5px;
      border: 0px solid #ddd;
      position: absolute;
      font-family:"Helvetica Neue", Arial, Helvetica, sans-serif
  }
