body { height:100%; overflow:hidden; margin:0; padding:0; background:#fff; font-family: helvetica, arial, clean, sans-serif;}
  #container header { height:50px; width:100%; }
  #container footer { height:50px; width:100%; position:absolute; bottom:0; }
  
    #main { position:absolute; top:50px; bottom:50px; left:0; right:0; }
      #aside { position:absolute; top:0; bottom:0; width:260px; overflow-y:auto; overflow-x:hidden; padding:10px 20px;}
      #map { position:absolute; top:0; bottom:0; left:300px; right:0; }

  #result_data table { width:260px; }
    #result_data tr td:first-child { width:230px; text-align:left;}
    #result_data th { font-size:10px; text-align:left; color:#aaa; font-weight:bold; text-transform:uppercase; padding-top:10px; }
    #result_data td { font-size:13px; text-align:right; }
    
    #result_data .total-stats-row td { font-size:16px; }
    .stats-rank { font-weight:bold; text-align:center !important; }
    .neighborhood-title { font-weight:bold; font-size:18px; margin-top:10px; }
    
  .compass .back {
    fill: #fff;
  }

  .compass .fore, .compass .chevron {
    stroke: #7a7a7a;
  }

  #streets {
      fill: rgba(255,255,255,0)
  }

  #streets path {
    fill: #fff
    stroke-width: 1.5px;
  }

  #responses {
     fill: rgba(255,255,255,0)
  }

  #responses path {
    fill: #fff
    stroke-width: 1.5px;
  }

  #responses path:hover {
      stroke-width: 2px;
      stroke: #fff
  }

  /*
  #streets path {
    stroke: #f00;
    fill: #fff
    stroke-width: 1.5px;
    stroke-linecap: round;
  }
  */
  
  #streets path:hover {
      stroke-width: 2px;
      stroke: #fff
  }
    
  #neighborhoods {
      fill: rgba(204,204,204,0)
  }
  /*
  #neighborhoods path{
    stroke: rgba(0,0,0,.75);
    stroke-width: 2px;
    stroke-linecap: round;
  }
  */
  /*
  #neighborhoods path:hover {
      stroke: rgba(255,255,255,.75);
      stroke-width: 2px;
  }
  */
  #copy, #copy a {
    color: #050505;
    text-decoration: none;
  }

  #tooltip {
      -moz-box-shadow: 6px 6px 5px #6e6e6e;
      -webkit-box-shadow: 6px 6px 5px #6e6e6e;
      box-shadow: 6px 6px 5px #6e6e6e;

      -moz-border-radius: 4px;
      border-radius: 4px;
      z-index: 10;
      background: rgba(255,255,255,.9);
      padding: 5px;
      border: 0px solid #ddd;
      position: absolute;
      font-family:"Helvetica Neue", Arial, Helvetica, sans-serif
  }
