<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block page_title %}Open311 Dashboard{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    {# <!-- Mobile viewport optimized: j.mp/bplateviewport --> #}
    {# <meta name="viewport" content="width=device-width, initial-scale=1.0"> #}

    <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
    {# <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico"> #}
    {# <link rel="apple-touch-icon" href="{{ STATIC_URL }}apple-touch-icon.png"> #}

    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/ui-lightness/jquery-ui.css">
    <!-- link rel="stylesheet" href="{{ STATIC_URL }}css/960.css"-->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/open311.css">

    <script src="{{ STATIC_URL }}js/libs/modernizr-1.7.min.js"></script>

</head>

<body>

  <div class="container">
     <div class="topbar" style="z-index: 5;">
      <div class="container fixed">
        <h3>
          <a href="/" class="logo">Open311 Dashboard</a>
        </h3>
        <form action="." method="GET">
          <input type="text" name="q" placeholder="Search" value="{{ query|escape }}" class="ui-autocomplete search-bar" autocomplete="off" autocorrect="off">
          <!--<select class="medium search-select">
            <option>Streets</option>
            <option>Neighborhoods</option>
          </select> -->
        </form>
        <ul class="nav secondary-nav">
          <li><a href="/neighborhood/" class="active">Neighborhoods</a></li>
          <li><a href="/street/">Streets</a></li>
          <li><a href="/search/">Search</a></li>
        </ul>
      </div>
    </div>
    <div class="row show-grid">
    </div>
      {% block content %}{% endblock %}
  </div> <!--! end of .container -->

  <footer>
  <div class="container">
    <div class="row">
      <div class="span12 column border-radius">
            <p>A project of <a href="http://codeforamerica.org/">Code for
                America</a> brought to you by
            <a href="http://twitter.com/EvansML">@EvansML</a>,
            <a href="http://twitter.com/ctbarna">@ctbarna</a>, and
            <a href="http://twitter.com/baileyspace">@baileyspace</a>.</p>
      </div>
    </div>
  </div>
  </footer>



        <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&region=US"></script>
        <script src="{{ STATIC_URL }}js/libs/chosen.jquery.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/polymaps.min.js"></script>
        <script src="{{ STATIC_URL }}js/libs/d3.min.js"></script>
        <script src="{{ STATIC_URL }}js/date.js"></script>
        {% block custom_scripts %}{% endblock %}

            <!-- scripts concatenated and minified via ant build script-->
            <script src="{{ STATIC_URL }}js/o3d.js"></script>
            <script src="{{ STATIC_URL }}js/o3d.api.js"></script>
            <script src="{{ STATIC_URL }}js/o3d.map.js"></script>
            <script src="{{ STATIC_URL }}js/o3d.time.js"></script>
            <script src="{{ STATIC_URL }}js/o3d.viz.js"></script>
            <!-- end scripts-->


            <!--[if lt IE 7 ]>
            <script src="js/libs/dd_belatedpng.js"></script>
            <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
            <![endif]-->

        </body>
      
</html>
