{% extends 'base/main.html' %}

{% block content %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/street_view_styles.css">
<style>
    #spark-line path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
    }

.line, circle.area {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

circle.area {
  fill: #fff;
}

.point {
    fill: #C80000;
    stroke: #FFFFFF;
    stroke-width: 0px;
}
</style>
<div class="" id="street-content">
  <div class="grid_8">
      <div id="map" class="{{ type }}">
    </div>

    <div id="open-requests">
      <h1>Open Requests</h1>
      {% if stats.open_requests|length > 0 %}
      <table>
        {% for request in stats.open_requests %}
        <tr>
            <td>{{ request.service_name }}</td>
            <td>{{ request.requested_datetime }}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <p>No requests currently open.</p>
      {% endif %}
    </div>
  </div>
  <div class="grid_4">
    <div id="street-stats" style="">
        <h1 style="text-align:center; padding-bottom:0px;padding-top:15px;">{{ title|title }}</h1>
        {% if neighborhood %}<p style="font-size:13pt; margin:0; padding:0; text-align:center;">
        <a style="text-decoration:none" href="{{ neighborhood.get_absolute_url }}">{{ neighborhood.name }}</a>
        </p>{% endif %}
      <div id="spark-line"></div>
      <p class="caption">30-Day Trend</p>
      <p id="response-time">{{ stats.average_response }}
      day{{ stats.average_response|pluralize }}</p>
      <p class="caption">Average Response Time</p>


    <h1>Top Requests</h1>
    <table id="top-requests" style="table-layout:fixed;">
      {% for type in stats.request_types %}
        <tr>
            <td style="overflow:hidden;white-space:nowrap;width:75%;">{{ type.service_name }}</td>
            <td>{{ type.count }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="clear"></div>
    <p><a href="/{{ type }}/{{ id }}.json">JSON Export</a></p>
    </div>

    <div id="nearby">
      <h2>Nearby</h2>
      <table>
          {% for nearby_place in nearby %}
          <tr>
              <td><a href="{{ nearby_place.get_absolute_url }}">{{ nearby_place.name }}{{ nearby_place.street_name|title}}</a></td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>
<script>
    sparkData = {{ stats.opened_by_day }};
    geometry = {% autoescape off %}{{ geometry }}{% endautoescape %};
    centroid = { lon: {{ centroid.0 }}, lat: {{ centroid.1 }} };
    extent = [{lon:{{ extent.0 }}-.001, lat:{{ extent.1 }}-.001}, {lon:{{ extent.2 }}+.001,
        lat:{{ extent.3 }}+.001 }];
</script>
{% endblock %}

{% block custom_scripts %}
<script src="{{ STATIC_URL }}js/geo_detail.js"></script>
{% endblock %}
