{% extends 'base.html' %}
{% block last_updated %}
Last updated: {{ latest|date:"F jS, Y" }}
{% endblock %}
{% block content %}
{{ open_tickets }}<br />

<div id="top_bar">
    <div id="tabs">
        <ul>
            <li>{{ open_tickets }} open tickets</li>
        </ul>
    </div>
    <div id="datepicker">
        <label for="from">From</label>
        <input type="text" name="from" id="from">
        <label for="to">to</label>
        <input type="text" name="to" id="to">
    </div>
</div>

<div class="clear"></div>
<div class="grid_12" id="chart">
</div>


{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/charts/dual_state_barchart.js"></script>
{% endblock %}
