{% extends 'base/main.html' %}

{% block content %}
<style>
  #streets path:hover, #sidewalk_cleaning path:hover, #graffiti path:hover {
    stroke-width:5px;
  }
</style>
<div id="selector" class="grid_12 border-radius" style="background-color:#fff">
Select a map:
  <select id="layer-select" class="chzn-select">
    <option value="cleaning">Street/Sidewalk Cleaning</option>
    <option value="cans">Trash Cans</option>
    <option value="dumping">Illegal Dumping</option>
    <option value="graffiti" selected="true">Graffiti</option>
    <option value="overflowing">Overflowing City Recepticles</option>
    <option value="pavementdefect">Pavement Defect</option>
    <option value="sewer">Sewer</option>
    <option value="vehicle">Abandoned Vehicle</option>
  </select>
</div>
<div id="map" style="height:500px; border:1px solid #ccc; margin:5px 8px;" class="grid_12 border-radius">
</div>
{% endblock %}

{% block custom_scripts %}
<link rel="stylesheet" href="/static/css/tipsy.css">
<script src="/static/js/jquery.tipsy.js"></script>
<script src="/static/js/map.js"></script>
<script src="/static/js/raycasting.js"></script>

<script>
  $(document).ready(function () {
    $('.chzn-select').chosen();

    $("#layer-select").chosen().change(function (e) {
      Map.switchVisibleLayer(window[this.value]);
    });
  });
</script>
{% endblock %}
