{% extends 'base/main.html' %}

{% block content %}
<h2>{{ neighborhood.name }}</h2>
<div id="neighborhood-details">
    Open requests: {{ requests_open }}</br>
    Average response time: {{ request_averages }}
    day{{ request_averages|pluralize }}
</div>

<div id="neighborhood-types">
    <table>
        {% for type in request_types %}
        <tr>
            <td>{{ type.service_name }}</td>
            <td>{{ type.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="open-requests">
    <table>
        {% for request in open_requests %}
        <tr>
            <td>{{ request.service_name }}</td>
            <td>{{ request.requested_datetime }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
