{% extends 'base/main.html' %}
{% block content %}
<div class="row main detail-page">
  <div class="span12 column">
    <div id="map"></div>
    <div id="requests">
      <table class="zebra-striped">
        <thead>
          <tr>
            <th>Request ID</th>
            <th>Type</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
      </thead>
      <tbody>
      </tbody>
      </table>
    </div>
  </div>
  <div class="span4 column sidebar">
    <h1>{{ geometry.properties.name }}</h1>
    <div class="box" id="spark-line">
    </div>
    <div id="open-requests" class="box">
      <h3>Open Requests</h3>
      <span id="status-pie"></span><span id="open-request-value"></span>
    </div>
    <div id="avg-response" class="box">
      <h3>Average Response Time</h3>
      <span id="average-response-value"></span>
    </div>

    <div id="top-requests" class="box">
      <h3>Top Request Types</h3>
      <div id="top-requests-chart"></div>
      <div id="top-requests-info">Test</div>
    </div>

  </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
  var po = org.polymaps;

  $(document).ready(function() {
      o3d.API.query = {
        {% if geometry_type == 'polygons' %}
        coordinates_bounds: '{{ geometry.geometry.coordinates.0 }}',
        {% else %}
        street_id: '{{ id }}',
        {% endif %}
        requested_datetime_start: '{{ start_date }}',
        requested_datetime_end: '{{ end_date }}'
      };

      map = po.map()
        .container(document.getElementById("map").appendChild(po.svg("svg")))
        .extent(o3d.map.padBox({{ bbox|safe }},.001))
        .zoomRange([10, 16]);

      map.add(po.image()
        .url(po.url("http://{S}tile.cloudmade.com"
            + "/b60fbbd51f17456794d2b0e4ed4f0d0c"
            + "/998/256/{Z}/{X}/{Y}.png")
          .hosts(["a.", "b.", "c.", ""])));

      geojson_url = "/api/{{ geometry_type }}/?slug={{ geometry.properties.slug }}";

      {% if geometry_type == 'streets' %}
      geojson_url += '&min={{ geometry.properties.min }}';
      geojson_url += '&max={{ geometry.properties.max }}';
      {% endif %}

      map.add(po.geoJson()
        .url(geojson_url)
        .id("geometry"));

      o3d.API.buildPage(map);

      var sparkData = {{ sparkline_data|safe }};
      var w = 180, h = 40;
      o3d.viz.sparkline(sparkData, '#spark-line', w, h);
  });
</script>
{% endblock %}
