{% extends 'base/main.html' %}

{% block content %}
<h2>{{ neighborhood.name }}</h2>
<div id="neighborhood-details">
    Open requests: {{ stats.open_request_count }}</br>
    Average response time: {{ stats.average_response }}
    day{{ stats.average_response|pluralize }}
</div>

<div id="neighborhood-types">
    <table>
        {% for type in stats.request_types %}
        <tr>
            <td>{{ type.service_name }}</td>
            <td>{{ type.count }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="open-requests">
    <table>
        {% for request in stats.open_requests %}
        <tr>
            <td>{{ request.service_name }}</td>
            <td>{{ request.requested_datetime }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
