{% extends 'base/main.html' %}

{% block custom_scripts %}
<script src="/static/js/autocomplete.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="white grid_12 border-radius">
{% if error %}
Sorry, your lookup failed.
{% endif %}

<form action="." method="GET">
    <label for="q">Type in an address or intersection: </label>
    <input type="text" name="q" value="{{ query|escape }}"
           autocomplete="off" autocorrect="off">
    <input type="submit" value="Search">
</form>
</div>
{% endblock %}
