{% extends 'base/main.html' %}

{% block content %}
<h1>{{ street.properties.name|title }}</h1>
<style>
path {
  stroke:#000;
  stroke-width:5px;
}
</style>
<div class="span12 column">
  <div id="map"></div>
</div>
<script type="text/javascript">
  {% autoescape off %}
  geometry = {{ json }};
  {% endautoescape %}
</script>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
var po = org.polymaps;

var map = po.map()
    .container(document.getElementById("map").appendChild(po.svg("svg")))
    .add(po.interact())
  .add(po.hash());

map.zoom(17)
   .zoomRange([16, 18]);

map.add(po.image()
    .url(po.url("http://{S}tile.cloudmade.com"
    + "/b60fbbd51f17456794d2b0e4ed4f0d0c"
    + "/998/256/{Z}/{X}/{Y}.png")
    .hosts(["a.", "b.", "c.", ""])));

map.add(po.geoJson()
  .features([{ "type": "Feature",
    "geometry": geometry,
    "properties": {}}])
  .id("geometry"));

map.add(po.compass()
        .pan("none"));
</script>

{% endblock %}
