<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
    Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>Street View</title>
		
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../static/css/street_view_styles.css" />
	<link rel="stylesheet" href="../static/css/960.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.0/themes/ui-lightness/jquery-ui.css">

	<script src="/static/js/libs/modernizr-1.7.min.js"></script>
	
	<style id='flashfirebugstyle' type='text/css'>object,embed{visibility:hidden !important;}</style><script type='text/javascript'>window.addEventListener('load', function() {document.addEventListener('DOMNodeInserted', function(e) {if(e.target.tagName.toLowerCase() == 'object' || e.target.tagName.toLowerCase() == 'embed'){try{FlashFirebug_init();}catch(e){}}}, false);try{FlashFirebug_init();}catch(e){}},false);</script><style id='flashfirebugstyle' type='text/css'>object,embed{visibility:hidden !important;}</style><script type='text/javascript'>window.addEventListener('load', function() {document.addEventListener('DOMNodeInserted', function(e) {if(e.target.tagName.toLowerCase() == 'object' || e.target.tagName.toLowerCase() == 'embed'){try{FlashFirebug_init();}catch(e){}}}, false);try{FlashFirebug_init();}catch(e){}},false);</script></head>
	
</head>

<body>
<div class="container_12">
	<div class="grid_12">
		<div id= "nav">
			<a href="#">Back to Map</a>
		</div>
	</div>
	
	<div class="grid_8">	
		<div id="map">
		</div>
	
		<div id="open-requests">
			<h1>Open Requests</h1>
			<table>
			<tr><th>Request</th><th>Date</th><th>Time</th></tr>
			<tr><td>SFHA - Preventive - Priority</td> 	<td>July 31, 2011</td> <td>11:30 a.m.</td></tr>
			<tr><td>SFHA - Emergency - Priority</td> 	<td>July 31, 2011</td> <td>11:28 a.m.</td></tr>
			<tr><td>SFHA - Urgent - Priority</td> 	<td>July 31, 2011</td> <td>1:34 a.m.</td></tr>
			<tr><td>SFHA - Urgent - Priority</td> 	<td>July 31, 2011</td> <td>1:28 a.m.</td></tr>
			<tr><td>SFHA - Urgent - Priority</td> 	<td>July 29, 2011</td> <td>4:30 a.m.</td></tr>
			<tr><td>SFHA - Routine - Priority</td> 	<td>July 28, 2011</td> <td>1:40 a.m.</td></tr>
			<tr><td>SFHA - Urgent - Priority</td> 	<td>July 28, 2011</td> <td>1:38 a.m.</td></tr>
			<tr><td>SFHA - Urgent - Priority</td> 	<td>July 27, 2011</td> <td>10:20 a.m.</td></tr>
			<tr><td>SFHA - Urgent - Priority</td> 	<td>July 27, 2011</td> <td>1:50 a.m.</td></tr>
			<tr><td>SFHA - Routine - Priority</td> 	<td>July 26, 2011</td> <td>10:02 a.m.</td></tr>
			</table>
			<p>Export <a href="#">JSON</a> or <a href="#">CSV</a></p>
		</div>
	</div>
	
	<div class="grid_4">
	
		<div id="street-stats">
				<h1>Nichols St.</h1>
				<div id="spark-line">
				</div>
				<p class="caption">30-Day Trend</p>
				<p id="response-time">23 Days</p>
				<p class="caption">Average Response Time</p>
				
				<h1>Top Requests</h1>
				<table id="top-requests">
					<tr><td>Pot hole</td><td>10</td></tr>
					<tr><td>Pot hole</td><td>10</td></tr>
					<tr><td>Pot hole</td><td>10</td></tr>
					<tr><td>Pot hole</td><td>10</td></tr>
					<tr><td>Pot hole</td><td>10</td></tr>
				</table>
		</div>
	
		<div id="nearby">
			<h1>Nearby Streets</h1>
			<table id="top-requests">	
				<tr><td>Pot hole</td><td>10</td></tr>
				<tr><td>Pot hole</td><td>10</td></tr>
				<tr><td>Pot hole</td><td>10</td></tr>
				<tr><td>Pot hole</td><td>10</td></tr>
				<tr><td>Pot hole</td><td>10</td></tr>
			</table>
		</div>
	</div>
</div>

<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>
<script src="/static/js/libs/raphael-min.js"></script>
<script src="/static/js/libs/polymaps.min.js"></script>
<script src="/static/js/libs/d3.min.js"></script>

<!-- <script>window.jQuery || document.write("<script src='{{ STATIC_URL
        }}js/libs/jquery-1.5.1.min.js'>\x3C/script>")</script> -->

		<script>
		var po = org.polymaps;

		var map = po.map()
		 	.container(document.getElementById("map").appendChild(po.svg("svg")))
		    .add(po.interact())
		    .add(po.hash());

		map.add(po.image()
		    .url(po.url("http://{S}tile.cloudmade.com"
		    + "/b60fbbd51f17456794d2b0e4ed4f0d0c" // http://cloudmade.com/register
		    + "/998/256/{Z}/{X}/{Y}.png")
		    .hosts(["a.", "b.", "c.", ""])));


		map.add(po.geoJson()
		  .features([{ "type": "Feature",
		    "geometry":{ "type": "LineString", "coordinates": [ [ -122.414935, 37.734715 ], [ -122.414930, 37.734649 ], [ -122.415044, 37.733477 ], [ -122.415125, 37.733327 ], [ -122.415222, 37.733232 ], [ -122.415405, 37.733143 ], [ -122.416026, 37.733025 ], [ -122.416318, 37.732963 ], [ -122.416615, 37.732821 ], [ -122.416866, 37.732778 ], [ -122.417244, 37.732759 ], [ -122.417731, 37.732775 ], [ -122.418562, 37.732827 ], [ -122.418706, 37.732816 ], [ -122.418858, 37.732742 ], [ -122.418952, 37.732600 ], [ -122.418966, 37.732130 ] ] },
		    "properties": {}}])
		  .id("geometry"));


		map.add(po.compass()
		    .pan("none"));
		</script>


		            <!-- scripts concatenated and minified via ant build script-->
		            <script src="/static/js/plugins.js"></script>
		            <script src="/static/js/script.js"></script>
		            <!-- end scripts-->


		            <!--[if lt IE 7 ]>
		            <script src="js/libs/dd_belatedpng.js"></script>
		            <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
		            <![endif]-->	
</body>
</html>