{% extends 'base.html' %}

{% block content %}
<h1>{{ city }}</h1>

{% if request_list %}
<table class="test-table">
    <tr>
        <th>Case Reference</td>
        <th>Latitude</td>
        <th>Longitude</td>
    </tr>
    {% for request in request_list %}
    <tr>
        <td>{{ request.service_request_id }}</td>
        <td>{{ request.lat }}</td>
        <td>{{ request.long }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div id="chart"></div>
<!-- <div id="webservice-test">
</div> -->


{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/charts/dual_state_barchart.js"></script>
<script>
$(document).ready(function() {
    	var fromDate = 1298966400000;
	var toDate = 1307775600000;

	$.ajax({
	        url: 'http://127.0.0.1:8000/api/tickets/both/2011-03-01/2011-06-11/',
			dataType: 'json',
			success: function(data) {
			    barchart.render(fromDate,toDate,data);
			}
		      });
});
</script>
{% endblock %}
