{% extends 'base.html' %}

{% block content %}
<h1>{{ city }}</h1>

{% if request_list %}
<table class="test-table">
    <tr>
        <th>Case Reference</td>
        <th>Latitude</td>
        <th>Longitude</td>
    </tr>
    {% for request in request_list %}
    <tr>
        <td>{{ request.service_request_id }}</td>
        <td>{{ request.lat }}</td>
        <td>{{ request.long }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div id="webservice-test">
</div>


{% endblock %}

{% block custom_scripts %}
<script>
$(document).ready(function() {
    $.ajax({
        url: '/api/tickets/opened/',
        success: function(data) {
            $.each(data, function() {
                $("#webservice-test").append(this.date);
            });
        }
    });
});
</script>
{% endblock %}
